@import url('https://fonts.googleapis.com/css?family=Raleway:900');

body{
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  padding: 0 auto;
}
.App {
  color: #960B18;
  margin: inherit;
  height: inherit;
  width: inherit;
  padding: inherit;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.mandatory {
  /* width: 200px; */
  height: 133px;
  padding-left: 1.8em;
}

.users {
  width: 300px;
  height: 233px;
  padding-left: 1.8em;
}

.aboutme {
  width: 49em;
  height: 3em;
}

.bill {
  display: inline-flex;
}

.couple {
  background-size: cover;
}


.container {
  position: relative;
  background-color: black;
  font-family: 'Raleway', sans-serif;
}

.container2{
  /* position: absolute; */
}

/* .table {
  width: 100%;
  border:  #960B18 solid;
  border-width: 1px;
} */

/* tr, th, td {
  border: #960B18 solid;
} */

ul {
  list-style-type: none;
}