@import url('https://fonts.googleapis.com/css?family=Raleway:900');
body {
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  padding: 0 auto;
}

.App {
  color: #960B18;
  margin: inherit;
  height: inherit;
  width: inherit;
  padding: inherit;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mandatory {
  /* width: 200px; */
  height: 133px;
  padding-left: 1.8em;
}

.users {
  width: 300px;
  height: 233px;
  padding-left: 1.8em;
}

.aboutme {
  width: 49em;
  height: 3em;
}

.bill {
  display: inline-flex;
}

.couple {
  background-size: cover;
}

.container {
  position: relative;
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

.container2 {
  /* position: absolute; */
}

/* .table {
  width: 100%;
  border:  #960B18 solid;
  border-width: 1px;
} */

/* tr, th, td {
  border: #960B18 solid;
} */

ul {
  list-style-type: none;
}

.signup {
  color: #ffffff;
  background-color: red;
  border-color: red;
  min-width: 150px;
  font-size: 14px;
  padding: 17px 13px;
  position: relative;
  text-align: center;
  z-index: 1;
  line-height: 22px;
  border: none;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
  transition-delay: initial, initial, initial;
}

.signup:hover {
  color: red;
  background-color: #ffffff;
  border: 1px solid red;
}

.btm-danger2 {
  color: #fff;
  background-color: red;
  border-color: red;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
  transition-delay: initial, initial, initial;
}

.btn-danger2,
.btn :hover {
  color: #dc3545;
  background-color: #ffffff;
  border: 1px solid #dc3545;
}

.user {
  margin-left: 3.2%;
}

.messages {
  margin-left: 3.2%;
}

.login {
  text-align: center;
}

.events {
  margin-left: 3.2%;
}

.feed {
  margin-left: 3.2%;
}

.registration {
  margin-left: 3.2%;
}

/* Parrallax css */

@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
/* Override UGG site */

#main {
  width: 100%;
  padding: 0;
}

.content-asset p {
  margin: 0 auto;
}

.breadcrumb {
  display: none;
}

/* Helpers */

/**************************/

.margin-top-10 {
  padding-top: 10px;
}

.margin-bot-10 {
  padding-bottom: 10px;
}

/* Typography */

/**************************/

#parallax-world-of-ugg h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  padding: 0;
  margin: 0;
}

#parallax-world-of-ugg h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  letter-spacing: 10px;
  text-align: center;
 
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 10;
  opacity: .9;
}

#parallax-world-of-ugg h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  line-height: 0;
  font-weight: 400;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: black;
}

#parallax-world-of-ugg p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
}

.first-character {
  font-weight: 400;
  float: left;
  font-size: 120px;
  line-height: 80px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: 'Source Sans Pro', sans-serif;
}

.sc {
  color: #3d3c3a;
}

.ny {
  color: #3d3c3a;
}

.atw {
  color: #3d3c3a;
}

/* Section - Title */

/**************************/

#parallax-world-of-ugg .title {
  background: white;
  padding: 60px;
  margin: 0 auto;
  text-align: center;
  margin-left: 300px;
}

#parallax-world-of-ugg .title h1 {
  font-size: 35px;
  letter-spacing: 8px;
  text-align: center;
}

/* Section - Block */

/**************************/

#parallax-world-of-ugg .block {
  background: white;
  padding: 60px;
  width: 1350px;
  margin: 0 auto;
  text-align: justify;
}

#parallax-world-of-ugg .block-gray {
  background: #f2f2f2;
  padding: 60px;
}

#parallax-world-of-ugg .section-overlay-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.70;
}

/* Section - Parallax */

/**************************/

#parallax-world-of-ugg .parallax-one {
  padding-top: 200px;
  padding-bottom: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  /* position: relative; */
  width: 1395px;
  background-image: url(https://images.unsplash.com/photo-1422327571285-01fb2ebc228f?ixlib=rb-0.3.5&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;s=7456a9e48c1b6e213cc1110e7ca42f79&amp;dpr=1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80&amp;cs=tinysrgb);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

#parallax-world-of-ugg .parallax-two {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 1395px;
  background-image: url(http://www.stippelliviaggi.it/wp-content/uploads/2017/11/new-york-.jpg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#parallax-world-of-ugg .parallax-three {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 1395px;
  background-image: url(https://images.unsplash.com/photo-1518563795073-6b72265ad862?ixlib=rb-0.3.5&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;s=1e95afca9ca9161310d24b9e1988fea3&amp;dpr=1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80&amp;cs=tinysrgb);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Extras */

/**************************/

#parallax-world-of-ugg .line-break {
  border-bottom: 1px solid black;
  width: 150px;
  margin: 0 auto;
}

/* Media Queries */

/**************************/

@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {
    padding: 40px;
    width: 620px;
  }
}

@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {
    padding: 30px;
    width: 420px;
  }
  #parallax-world-of-ugg h2 {
    font-size: 30px;
  }
  #parallax-world-of-ugg .block {
    padding: 30px;
  }
  #parallax-world-of-ugg .parallax-one,
  #parallax-world-of-ugg .parallax-two,
  #parallax-world-of-ugg .parallax-three {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 479px) {
  #parallax-world-of-ugg .block {
    padding: 30px 15px;
    width: 290px;
  }
}