@import url('https://fonts.googleapis.com/css?family=Raleway:900');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


body {
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  padding: 0 auto;

}

.App {
  color:white;
  margin: inherit;
  height: inherit;
  width: inherit;
  padding: inherit;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.containerfooter1{
  position: relative;
  font-family: 'Raleway', sans-serif;
  color: white;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}



.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid #fff;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

.btn-outline {
  color: #fff;
  font-size: 20px;
  border: 2px solid #fff;
  background: 0 0;
  transition: all .3s ease-in-out;
  margin-top: 15px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer .footer-above {
  padding-top: 50px;
  background-color: #C55656;
}

footer .footer-below {
  padding: 25px 0;
  background-color: #973131;
}

.mandatory {
  border-radius: 10%;
  box-shadow: 2px 2px 2px red;
  height: 400px;
  width: 270px;
}

.mandatory2 {
  border-radius: 10%;
  box-shadow: 2px 2px 2px red;
  height: 400px;
  width: 270px;
}

.matchpics {
  border-radius: 10%;
  box-shadow: 2px 2px 2px red;
  height: 250px;
  width: 300px;
}

.users {
  width: 300px;
  height: 233px;
  padding-left: 1.8em;
}

.aboutme {
  margin: 0 auto;
  display: block;
  max-width: 300px;
  height: 3em;
  text-align: center;
  color: #ef2a3d;
}

.bill {
  display: inline-flex;
}

.couple {
  background-size: cover;
}

.container {
  position: relative;
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
}

.container2 {
  background-color: transparent;
  width: 100%;
  text-align: center;
  font-family: 'Arial'
  
}
.container3 {
  text-align:center;
  font-family: 'Arial';
  font-size: 20px;
  color: #960B18;
}

#select {
  border-radius: 5px;
  background: white;
  border: #960B18 solid 1px;
}
#thriftyimage{
  margin: 0 auto;
  display: block;
}
#thriftylogo {
  background-color: #D93337;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -8px;
}
.title #slogan {
  color: #D93337;
}

.btn btm-danger2 {
  float: right;
}

ul {
  list-style-type: none;
}

.signup {
  color: #ffffff;
  background-color: #D93337;
  border-color: #D93337;
  min-width: 150px;
  font-size: 14px;
  padding: 17px 13px;
  position: relative;
  text-align: center;
  z-index: 1;
  line-height: 22px;
  border: #D93337 1px solid;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
  transition-delay: initial, initial, initial;
}
.signup2 {
  color: #ffffff;
  background-color: #D93337;
  border-color: #D93337;
  min-width: 150px;
  font-size: 33px;
  padding: 17px 13px;
  position: relative;
  text-align: center;
  z-index: 1;
  line-height: 62px;
  border: #D93337 1px solid;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
  transition-delay: initial, initial, initial;
}
.signup:hover {
  color: #D93337;
  background-color: #ffffff;
  border: 1px solid #D93337;
}

.signup2:hover {
  color: #D93337;
  background-color: #ffffff;
  border: 1px solid #D93337;
}

.btm-danger2 {
  color: #fff;
  background-color: #D93337;
  border-color: #D93337;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
  transition-delay: initial, initial, initial;
}

.btm-danger2:hover {
  color: #D93337;
  background-color: #ffffff;
  border: 1px solid #D93337;
}

.user2 {
  color: #960B18;
  /* width: 200px;
  height: 100px; */
  margin-left: 15%;
  margin-right: 15%;
  font-size: 20px;
  display: block;
}

.profileName{
  text-align: center;
  font-size: 3em;
}

.profileBio{
  text-align: center;
}


#header {
  color: white;
  font-family: 'Raleway';
  background: #D93337;
}

#header2 {
  font-family: 'Raleway';
  background: #D93337;
  color: white;
  text-indent: 15%;
}

#profile {
  margin-left: 20px;
  padding: 20px;
  font-size: 20px;

}

.tag {
  font-family: 'Oswald';
  text-align: center;
  background: transparent;
  text-shadow: 2px 2px 2px gray;
  color: #ffffff;
  font-size: 50px;
  letter-spacing: 8px;
}

.thriftyEvents{
  /* width: 100px;
  height: 100px; */
  /* background: red; */
  -webkit-transition: width 2s; /* Safari */
  transition: width 2s;
}

.thriftyEvents:hover{
  /* width: 300px; */
}


.bg {
  margin-left: 309px;
  margin-top: -428px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgb(250, 250, 250);
  height: 400px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px red;
}
.publicbg {
  color: #960B18;
  margin-left: 330px;
  margin-top: -320px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgb(255, 255, 255);
  height: 400px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px red;
}

#publicpro {
  margin-left: 330px;
  margin-top: -270px;
}

.messages {
  color: #960B18;
}

.messages2 {
  /* color: #960B18; */
  color: white;
  margin-left: 15%;
  margin-right: 15%;
}

.testing {
  margin-right: 350px;
}


.message3 {
  width: 100%;
  color: #960B18
}

.login {
  text-align: center;
}

.events {
  margin-left: 15%;
  margin-right: 15%;
}

.feed {
  margin-left: 15%;
  margin-right: 15%;
}

.registration {
  margin-left: 15%;
  margin-right: 15%;
  color: #960b18;
}

.public {
  margin-left: 15%;
  margin-right: 15%;
}

.chat {
  color: #960B18;
  margin-top: 5%;
  margin-left:30%;
  text-align: center;
}

/* Parrallax css */

@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

/* Override UGG site */

#main {
  width: 100%;
  padding: 0;
}

.content-asset p {
  margin: 0 auto;
}

.breadcrumb {
  display: none;
}

/* Helpers */

/**************************/

.margin-top-10 {
  padding-top: 10px;
}

.margin-bot-10 {
  padding-bottom: 10px;
}

/* Typography */

/**************************/

#parallax-world-of-ugg h1 {
  font-family: 'Oswald', sans-serif; 
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0;
  margin: 0;
  margin-top: -10px;
}

#parallax-world-of-ugg h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  letter-spacing: 10px;
  text-align: center;
 
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 10;
  opacity: .9;
}

#parallax-world-of-ugg h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  line-height: 0;
  font-weight: 400;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #960B18;
}

#parallax-world-of-ugg p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
}

.first-character {
  font-weight: 400;
  float: left;
  font-size: 120px;
  line-height: 80px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: 'Source Sans Pro', sans-serif;
}

.sc {
  color: #960B18;
}

.ny {
  color: #960B18;
}

.atw {
  color: #960B18;
}

#one {
  text-shadow: 2px 2px 5px red;
}

/* Section - Title */

/**************************/

#parallax-world-of-ugg .title {
  padding: 60px;
  margin: 0 auto;
  text-align: center;
  /* margin-left: 300px; */
}

#parallax-world-of-ugg .title h1 {
  font-size: 35px;
  letter-spacing: 8px;
  text-align: center;
}

/* Section - Block */

/**************************/

#parallax-world-of-ugg .block {
  background: white;
  padding: 60px;
  width: 100%;
  margin: 0 auto;
  text-align: justify;
}

#parallax-world-of-ugg .block-gray {
  background: #f2f2f2;
  padding: 60px;
}

#parallax-world-of-ugg .section-overlay-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.70;
}

/* Section - Parallax */

/**************************/

#parallax-world-of-ugg .parallax-one {
  padding-top: 200px;
  padding-bottom: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  /* position: relative; */
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1521828847175-b6d80fc5a7fd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a06c19940f5dd6cad784b872049d4dc8&auto=format&fit=crop&w=1950&q=80);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

#parallax-world-of-ugg .parallax-two {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(http://www.stippelliviaggi.it/wp-content/uploads/2017/11/new-york-.jpg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#parallax-world-of-ugg .parallax-three {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1499200544186-6b1e3ec3b68e?ixlib=rb-0.3.5&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;s=4b4efff92e189382e4fe9f218f8dd4ff&amp;dpr=1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80&amp;cs=tinysrgb);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Extras */

/**************************/

#parallax-world-of-ugg .line-break {
  border-bottom: 1px solid black;
  width: 100%;
  margin: 0 auto;
}

/* Media Queries */

/**************************/

@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {
    padding: 40px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {
    padding: 30px;
    width: 100%;
  }
  #parallax-world-of-ugg h2 {
    font-size: 30px;
  }
  #parallax-world-of-ugg .block {
    padding: 30px;
  }
  
  #parallax-world-of-ugg .parallax-two,
  #parallax-world-of-ugg .parallax-three {
    padding-top: 100px;
    padding-bottom: 100px;
  }
 #parallax-world-of-ugg .parallax-one {
   padding: 0;
   margin: 0;
 }
}

@media screen and (max-width: 479px) {
  #parallax-world-of-ugg .block {
    padding: 30px 15px;
    width: 100%;
  }
}